<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wyze Bridge</title>
    <link rel="stylesheet" href="static/site.css">
    {% block stylesheet %}{% endblock %}
</head>
<body>
<header>
    <a href="." style="color:inherit;text-decoration:none;">
        <h1>Wyze Bridge{% if version %} <span class="version">v{{ version }}</span>{% endif %}</h1>
    </a>
</header>
<main>
    {% block content %}{% endblock %}
</main>
{% block api_info %}{% endblock %}
{% block javascript %}{% endblock %}
</body>
</html>
